/* nav */
nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.tabs {
    display: flex;
    text-align: center;
    background-color: lightblue;
}

.tab {
    width: 110px;
    height: 30px;
    padding-top: 10px;
    cursor: pointer;
    background-color: lightblue;
}

.tab:hover {
    font-size: 18px;
}

.active-tab {
    font-weight: bolder;
    font-size: 18px;
}

/* panel */
.panel-hidden {
    display: none;
}

#hitcount-panel {
    margin-bottom: 20px;
}

/* settings */
.full-width {
    width: 100%;
    height: 35px;
}

.icons-info {
    color: grey;
    font-size: smaller;
}

.uri-error-hidden {
    display: none;
}

.uri-error-show {
    display: block;
    color: red;
    font-weight: bold;
}

.settings-section {
    color: slategray;
    margin-bottom: 16px;
}

.settings-section:last-child {
    margin-bottom: 0;
}

.settings-section.active {
    color: black;
}

.next-event-token-with-text-type {
    margin-right: 8px;
    margin-left: 4px;
}

.next-event-token-with-text-type:last-child {
    margin-right: 0;
}

/* hitcount */
table {
    width: 100%;
}

#reset {
    margin-top: 20px;
}
