.full-width {
    width: 100%;
    height: 35px;
}

.icons-info {
    color: grey;
    font-size: smaller;
}

.uri-error-hidden {
    display: none;
}

.uri-error-show {
    display: block;
    color: red;
    font-weight: bold;
}