.icons-info {
    color: grey;
    font-size: smaller;
}

.uri-error-hidden {
    display: none;
}

.uri-error-show {
    display: block;
    color: red;
    font-weight: bold;
}

.loggingdescription {
    font-size: small;
}

.loggingoutputview {
    margin: 0px;
    margin-top: 10px;
    height: 150px;
    width: 250px;
    font-family: monospace;
    font-size: xx-small;
}

.button-danger {
    color: red !important;
}